
@font-face {
    font-family: 'fjalla_oneregular';
    src: url('../fonts/fjallaone-regular-webfont.eot');
    src: url('../fonts/fjallaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fjallaone-regular-webfont.woff') format('woff'),
         url('../fonts/fjallaone-regular-webfont.ttf') format('truetype'),
         url('../fonts/fjallaone-regular-webfont.svg#fjalla_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---------------------------------------
  Global Styles
-----------------------------------------*/

body{background:#ffffff;}
h1, h2, h3, h4, h5, h6{margin: 0;font-family: 'fjalla_oneregular'; color: #5c5c5c;  text-transform: uppercase; padding-bottom: 15px;}
h1{ font-size: 30px; }
h2{ font-size: 20px;}
h3{ font-size: 18px;}
h4{ font-size: 16px;}
h5{ font-size: 14px;}
h6{ font-size: 12px;}
p{ font-size: 14px; color: #a5a5a5; margin-right:0; margin-bottom: 15px; line-height: 24px;}
p:nth-last-child(1){
	margin-bottom: 0;
}
a{ transition:all 1s; color: #a5a5a5;}
a:hover{}
img{}
 ul{
 	padding-left: 0;
 	list-style-position: inside;
 }
/*---------------------------------------
  Bootsrap Styles Customized
-----------------------------------------*/

.btn{
	background: #e24f43;
	color: #fff;
	font-family: 'fjalla_oneregular';
	text-transform: uppercase;
	border:none;
}

.btn:hover{
	background: #5c5c5c;
	color: #fff;
}


/*========================================
  Custom Classes
========================================*/

.wrapper{
	padding: 60px 0;
	}
.spacing{
	padding: 30px 0;
}	
.spacing-r{
	padding-right: 30px;
}	
.spacing-l{
	padding-left: 30px;
}
.spacing-t{
	padding-top: 30px;
}
.spacing-b{
	padding-bottom: 30px;
}
.spacing-t-b{
	padding-top: 30px;
	padding-bottom: 30px;
}
.spacing-l-r{
	padding-left: 30px;
	padding-right: 30px;
}
.spacing-t-l{
	padding-top: 30px;
	padding-left: 30px;
}
.spacing-t-r{
	padding-right: 30px;
	padding-top: 30px;
}
.spacing-b-l{
	padding-bottom: 30px;
	padding-left: 30px;
}
.spacing-b-r{
	padding-bottom: 30px;
	padding-right: 30px;
}
.item-spacing-t{
	padding-top: 15px;
}
.item-spacing-b{
	padding-bottom: 15px;
}
.item-spacing-t-b{
	padding: 15px 0;
}
.item-spacing-l{
	padding-left: 15px;
}
.item-spacing-r{
	padding-right: 15px;
}
.item-spacing-l-r{
	padding:0 15px;
}
.item-spacing-r-b{
	padding-right: 15px;
	padding-bottom: 15px;
}
.ruler{
	height: 1px;
	background: #dfdfdf;
}
.block{ float:left;}
.radi{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.box{
	border:1px solid #eee;
	padding: 30px 40px 30px 30px;
	overflow: hidden;
}
.radi-c1{
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}
.radi-c2{
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}
.radi-c3{
	-webkit-border-radius: 0 0 5px 0;
	 		-moz-border-radius: 0 0 5px 0;
	 		border-radius: 0 0 5px 0; 		
}
.radi-c4{
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}
.radi-c1-c2{
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.radi-c2-c3{
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.radi-c3-c4{
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.radi-c4-c1{
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.radi-c1-c3{
	-webkit-border-radius: 5px 0 5px 0;
	-moz-border-radius: 5px 0 5px 0;
	border-radius: 5px 0 5px 0;
}
.radi-c2-c4{
	-webkit-border-radius: 0 5px 0 5px;
	-moz-border-radius: 0 5px 0 5px;
	border-radius: 0 5px 0 5px;
}
.main-title{
padding: 40px 0;
overflow: hidden;
}
.main-title h3{
	color: #a5a5a5;
	margin-bottom: 0;
}

.main-title .btn{
	font-size: 20px;
	margin-top: 20px;
}
.main-title .btn:hover{
	background: #5c5c5c;
}
.ruler-top{
	border-top: 5px solid #5c5c5c;
}
.header-warp{
	padding: 30px 0;

	
}
.header-warp h6{
	color: #a5a5a5;
}
.featured-items{
	padding: 60px 0;
	overflow: hidden;
}
.featured-items i{
	display: inline-block;
	text-align: center;
	line-height: 130px;
	height: 130px;
	width: 130px;
	border: 4px solid #dfdfdf;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 40px;
	color: #e24f43;
	float: left;
	margin-right: 20px;
	
}
.featured-items i:hover{
	background: #e24f43;
	color: #fff;
	transition:all 1s;
	border: 4px solid #e24f43;
}
.featured-items h2{
	padding-top: 30px;
	padding-bottom: 20px;
}
.featured-items .block{margin-bottom: 30px;}
.subscribe{
	background: #5c5c5c;
	padding: 30px;
	border-radius: 3px;
	overflow: hidden;
}
.subscribe h1{
	display: inline-block;
	padding-right: 20px;
	padding-bottom: 0;
	color: #fff;
}
.subscribe .btn{
	margin-left: 15px;
	transition:all 1s;
}
.subscribe .btn:hover{
	background: #eee;
	color: #000;
}
.subscribe .form-control {
border-color: #fff;
}

.featured-blocks{
	overflow: hidden;
	padding: 60px 0;
}
.featured-blocks .thumbnail{
	padding: 0;
}
.featured-blocks .thumbnail img{
	width:100%;
}
.featured-blocks .thumbnail .caption{
	padding: 30px;
}
.site-header{
	padding: 0px -15px !important;
	margin: 0 15px;
}
.hide {
  display: none ;
}

.site-header h3{
	display: inline-block;
	
	

}
.site-header button{ text-align: left !important; padding-bottom: 0 !important;}
.site-header .fw-icon-th-list { float: right; padding-top: 10px;}
.navbar-toggle {margin:0; padding-top: 4px;}
.navbar-toggle {width: 100%;  padding: 8px 10px !important; outline: none;}

.site-footer{
	overflow:hidden;
	padding: 60px 0;
	border-top: 1px solid #dfdfdf;
}
.site-footer a{
	margin-right:30px;
}
.site-footer a:hover{
	text-decoration: none;
	color: #e24f43;
}
.site-footer a i{
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #e24f43;

}
/*------------------------------------------------------
		Menu Styles
-------------------------------------------------------*/

.site-name h1{
	padding: 5px 0;
}
.navbar-collapse {
	padding: 0;
}
.navbar-nav > li{
	margin-right: 10px;
	font-family: 'fjalla_oneregular';
	font-weight: normal;
}

.navbar-nav > li a{
	font-size: 16px;
	text-transform: uppercase;
	color: #a5a5a5;
	padding: 20px;
}
.nav > li > a:hover{
	background: #C8CDD2;
	border-radius: 3px;
}
.nav > li > a:focus{
	background: #e74c3c;
	border-radius: 3px;
}
 .navbar-nav > li > a:hover{
	color: #333;
	background: #C8CDD2;
	border-radius: 3px;
}
.navbar-nav > .active > a{
	background: #eee;
	color: #fff;
	background: #e74c3c;
	border-radius: 3px;
	}
.navbar-nav > .active > a:hover{
	color: #fff;
	background: #e74c3c;
	border-radius: 3px;
	}
.navbar{
	margin-bottom: 0;
}

.nav .caret {
border-top-color: #eee;
border-bottom-color: #eee;
}

/*------------------------------------------------------
		Banner Styles
-------------------------------------------------------*/
.banner{
	
	background: url(../images/banner.jpg) no-repeat;
	height: 440px;
	border-radius: 5px;
}
.box1, .box2, .box3, .box4{
	width: 50%;
	height: 220px;
	background: url(../images/dot.png);
	float: left;
	position: relative;
}
.box2, .box3{
	background: url(../images/dot2.png);
}
.banner-item .box3 h3{
	border-radius: 0 0 0 5px;
}
.banner-item{
	border-radius: 5px;
}
.banner-item h3{
	text-transform: uppercase;
	display: inline-block;
	background: #000 !important;
	padding: 10px;
	color: #fff;
	position: absolute;
	bottom: 0;
	

}
.box1:hover, .box2:hover, .box3:hover, .box4:hover{
	transition:all 1s;
	background: url(../images/dot-hover.png);
}
.box1:hover h3, .box2:hover h3, .box3:hover h3, .box4:hover h3{
	background: #e24f43 !important;
	transition:all 1s;
	
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  text-align: left
}

.bg {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(135deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.1)), url('../images/bg.jpg');
	background-position: center;
	height: 377px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg h1 {
	color: #fafafa;
}

.item {
	display: inline-block;
	height: 160px;
}

@media (max-width: 767px) { 
    .item
    {
		height: 320px;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
    
}

.platinum {
	background-color: #C8CDD2;
}

.gold {
  background-color: #F1C40F;
}

.silver {
	background-color: #F0F0F0;
}

.platinum,
.gold,
.silver h3, p {
	color: #000;
}

.platinum,
.gold,
.silver {
	height: 520px;
}

.featured-blocks .thumbnail .caption h2{
	text-align: center;
}

.silver .price,
.gold .price,
.platinum .price {
	margin-left: -30px;
	margin-right: -30px;
	min-width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5%;
	background: linear-gradient(135deg, rgba(255,255,255,0.8), rgba(0,0,0,0.2));
}

.silver .selectPlan,
.gold .selectPlan,
.platinum .selectPlan {
	width: 60%;
	margin: 0px auto;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	font-size: 16px;
	font-weight: 500;
	font-family: 'fjalla_oneregular';
	border-radius: 5px;
	text-decoration: none;
	background: linear-gradient(135deg, rgba(0,0,0,0.2),rgba(255,255,255,0.8));
	-webkit-box-shadow: 0 6px 10px -6px black;
	-moz-box-shadow: 0 6px 10px -6px black;
		 box-shadow: 0 6px 10px -6px black;
}

.positioning {
	display: block;
	
	background-color: #000;
}

.silver .selectPlan:hover,
.gold .selectPlan:hover,
.platinum .selectPlan:hover {
	color: #000;
	text-decoration: none;
}

.table,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td {
   border: none;
}

.loginSignup > li > a
{
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 14px;
	padding-left: 0px;
}

.loginSignup {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}

.loginSignup li,
.loginSignup > li:hover,
.loginSignup > li > a,
.loginSignup > li > a:hover,
.loginSignup > li > a:focus {
	width: 175px;
	height: 60px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F1C40F;
	color: #f7f7f7;
	border: none;
	cursor: pointer;
	outline: none;
	font-family: 'fjalla_oneregular';
	border-radius: 0px;
}

.loginSignup > li.active > a,
.loginSignup > li.active > a:focus,
.loginSignup > li.active,
.loginSignup > li.active:hover,
.loginSignup > li.active > a:hover {
	width: 175px;
	height: 60px;
	font-size: 16px;
	display: flex;
	font-family: inherit;
	align-items: center;
	justify-content: center;
	background-color: #f7f7f7;
	color: #333;
	border: none;
	cursor: pointer;
	outline: none;
	font-family: 'fjalla_oneregular';
	border-radius: 0px;
}

.about {
	width: 240px;
	text-align: none;
}

.about_description {
	text-align: justify;
	padding: 5%;
}

.contact_description {
	margin-top: 4%;
	margin-bottom: 4%;
	width: 100%;
	display: flex;
	align-items: center;
}

.contact_description .address {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	min-width: 320px;
}

@media (max-width: 767px) { 
	.contact_description {
		flex-direction: column;
	}
	.contact_description .address h2 {
		font-size: 16px;
	}
	.contact_description .address h3 {
		font-size: 14px;
	}
	.contact_description .address h5 {
		font-size: 12px;
	}
}

@media (max-width: 321px) {
	.contact_description .address {
		padding-left: 5%;
	}
	.contact_description .address h2 {
		font-size: 14px;
	}
	.contact_description .address h3 {
		font-size: 12px;
	}
	.contact_description .address h5 {
		font-size: 10px;
	}
}

pre {
	font-family: 'tahoma';
	font-weight: 300;
	font-size: 14px;
	text-align: justify;
}

.annualPackage {
	margin-top: 5%;
	margin-bottom: -1%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'fjalla_oneregular';
	text-align: center;
}

.annualPackage h2 {
	font-size: 24px;
}
