#myFooter .container {
    background-color: #F0F0F0;
    color: #000;
    padding-top: 4%;
    padding-right: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
    min-width: 100%;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #000;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: #333;
    font-size: 16px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #000;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #333;
}

#myFooter .second-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C8CDD2;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    margin-top: 0.5%;
}

#myFooter .social-icons .facebook,
#myFooter .social-icons .google,
#myFooter .social-icons .instagram {
    color: #333;
}

#myFooter .facebook:hover {
    color: #3b5998;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .instagram:hover {
    color: #db2c0d;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
    #myFooter .second-bar .container {
        flex-direction: column;
    }
}


#myFooter{
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

.tnc {
    cursor: pointer;
    margin-top: -4.5%;
    margin-left: -5.75%;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
  }
  
  .loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
  
  .loginmodal-container input[type=text],
  input[type=password],
  input[type="tel"],
  input[type="email"] {
    height: 45px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .loginmodal-container textarea {
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
    padding-left: 8px;
    outline: none;
    overflow-y: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .loginmodal-container input[type=text]:hover,
   input[type=password]:hover,
   input[type="tel"]:hover,
   input[type="email"]:hover,
   .loginmodal-container textarea:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }


  
  .loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
  }
  
  .loginmodal-submit {
    height: 45px;
    border: 0px;
    color: #000;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #F1C40F;
    font-size: 16px;
    font-family: 'fjalla_oneregular';
  }
  
  .loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  } 
  
  .login-help{
    font-size: 12px;
  }