header .title-container, header .title-subhead {
  color: rgba(255, 255, 255, 0.9);
}

header {
  background: linear-gradient(60deg, #fb4d24, #d44330);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  letter-spacing: 0.025rem;
}

img {
  vertical-align: middle;
}

main {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  padding: 16px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

header .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title-head {
  font-size: 16px;
  font-weight: bold;
}

header .title-subhead {
  padding-left: 4px;
  font-size: 12px;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.file-capture {
  margin: 12px auto 0;
  padding: 20px;
  border: 2px dashed #EEE;
  width: 340px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

.file-capture-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.file-capture-image {
  width: 160px;
}

.file-capture-text {
  padding: 8px 24px;
  color: #555;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.wrapper {
  margin-top: 48px;
  height: calc(100vh - 48px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instructions {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.src-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 12px;
  padding: 12px 4px 12px 12px;
  border: 1px solid #DDD;
  width: calc(100% - 24px);
  height: auto;
  max-height: 50%;
  overflow-y: auto;
}

.src-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #555;
  font-size: 14px;
  background: #FFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.src-image, .src-video, .src-audio {
  max-width: 100%;
  max-height: 100%;
}

.src-image:focus, .src-video:focus, .src-audio:focus {
  outline: none;
}

.src-image-container, .src-video-container, .src-audio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 160px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #EEE;
  border-radius: 4px;
  margin: 0 8px 8px 0px;
}

.src-image-container:hover .src-overlay,
.src-image-container:hover .src-delete,
.src-image-container:hover .src-view, .src-video-container:hover .src-overlay,
.src-video-container:hover .src-delete,
.src-video-container:hover .src-view, .src-audio-container:hover .src-overlay,
.src-audio-container:hover .src-delete,
.src-audio-container:hover .src-view {
  display: block;
}

.src-image-container, .src-audio-container, .src-video-container {
  width: calc(100% - 8px);
}

.w-100 {
  width: 100%;
}

.p-24 {
  padding: 24px;
}

.title-instructions-container {
  z-index: 2;
  margin-left: auto;
}

.title-instructions-container:hover {
  -ms-touch-action: none;
      touch-action: none;
}

.title-instructions-container:hover .title-instructions-content {
  z-index: 3;
  display: block;
  position: absolute;
  top: 52px;
  right: 44px;
  padding: 8px 12px;
  width: 320px;
  background: #333;
  border-radius: 4px;
  font-size: 12px;
}

.title-instructions-content {
  display: none;
}

.title-instructions-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FAFAFA;
  width: 20px;
  height: 20px;
  color: #FAFAFA;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
}

.note {
  position: absolute;
  bottom: 8px;
  padding: 0 12px;
  font-size: 10px;
  color: #777;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .instructions {
    display: block;
    background: url("../assets/illus.png") no-repeat;
    background-position: bottom;
    background-size: 60%;
    background-color: #F7F7F7;
    width: 75%;
  }
  .instructions-head {
    color: #555;
  }
  .instructions-note {
    line-height: 1.5;
    color: #777;
    font-size: 14px;
  }
  .title-instructions-container {
    display: none;
  }
  .src-image-container, .src-audio-container, .src-video-container {
    width: calc((100% / 2) - 8px) !important;
  }
  .src-delete {
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.css.map */